.question-info{
    text-align: center;
    margin-top: 20px;
}
.quote-list{
    padding-left: 0;
}
.quote-list li{
    list-style: none;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-info{
    font-size: 16px;
    color: #9b9b9b;
    line-height: 40px;
}
.user-info .username{
    margin-left: 15px;
}
.user-info .create_time{
    float:right;
}
.quote-content{
    margin-left: 60px;
}